@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-primary: #3b82f6;
    --color-secondary: #10b981;
    --color-accent: #f59e0b;
    --color-dark: #1f2937;
}



.choices__list--multiple .choices__item.is-highlighted,
.choices__list--multiple .choices__item[data-deletable] {
    @apply bg-blue-500 font-medium text-white border-none;
}

/* --- Style saat hover di tombol hapus --- */
.choices__item--selectable .choices__button:hover {
    @apply bg-black/10; /* Background menjadi sedikit putih saat di-hover */
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
